@model ProjetoLoja2dsA.Models.Usuario;

@{
    ViewData["Title"] = "Cadastro";
}
<form asp-action="Cadastro" method="post" class="w-[300px] m-0 m-auto p-[10px] border-1">
    <div class="mb-4">
        <label>Email</label>
        <input type="email" name="email" required/>
    </div>

    <div>
        <label>Senha</label>
        <input type="password" name="senha" required />
    </div>
    <button type="submit">Cadastrar</button>


</form>